<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/menu.css" />
	<link rel="stylesheet" type="text/css" href="css/fuente.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src="js/jquery-1.11.2.min.js"></script>
	<title>Inicio INEGI APP</title>
</head>
<body class="container">
	<header class="row">
			<div class="col-md-6">
				<a href="inicio.html">
				<img src="img/logoInegi.jpg" class="img-responsive">
				</a>
			</div>

			<div class="col-md-6">
				<h1 class="text-right">Agregar archivo</h1>
			</div>
		</header>
		<br><br>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p>Por favor arrastre el archivo que contenga los reistros de parches, solo se aceptan archivos con extensión ".txt"</p>
			</div>
		</div>
</body>
</html>