<!DOCTYPE html>
{% load staticfiles %}
<html lang="es">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href={% static "css/menu.css" %} />
	<link rel="stylesheet" type="text/css" href={% static "css/fuente.css" %} />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<script type="text/javascript" src={% static "js/jquery-1.11.2.min.js" %}></script>
	<title>Inicio INEGI APP</title>
</head>
<body class="container">
	<header class="row">
			<div class="col-md-6">
				<img src={% static "img/logoInegi.jpg" %} class="img-responsive">
			</div>

			<div class="col-md-6">
				<h1 class="text-right">Menu de inicio</h1>
			</div>
		</header>
		<div class="row">
			<div class="col-xs-12 col-md-12">
				<p>Esta aplicación tiene como fin llevar un control de las actualizaciones de windows dentro del INEGI, para iniciar seleccione una de las opciones que se encuentra abajo. </p>
			</div>
		</div>	
		<br><br>
		<section class="row text-center">
			<article class="col-xs-12 col-md-3 clic" id="add">
				<a href="/windows/">
					
				<span class="iconos windows"></span>
				<br><br>
				<p>Agregar archivo</p>
					
				</a>
				
			</article>

			
			<article class="col-xs-12 col-md-3">
				<a href="index.html">
				<span class="iconos consulta"></span>
				<br><br>
				<p>Consultar parche vs equipo</p>
				</a>
			</article>

			<article class="col-xs-12 col-md-3">
				<a href="/configuracion/">
				<span class="iconos config"></span>
				<br><br>
				<p>Configuración</p>
				</a>
			</article>

			<article class="col-xs-12 col-md-3">
				<a href="/update/">
				<span class="iconos update"></span>
				<br><br>
				<p>Documentación</p>
				</a>
			</article>




		</section>

		<section class="row formulario" id="menuAdd">

			<div class="col-xs-12 col-md-12 text-center">
				<h3>Formularios de archivos</h3>

			</div>
			
			<div class="col-xs-12 col-md-12">
				WindowsX
				<form action="/windows/" method="POST">
				{% csrf_token %}
				{{form.as_p}}
					
				<input type="submit" value="Enviar">
				</form>

			</div>

			<div class="col-xs-12 col-md-12">
				Update
				<form action="/update/" method="POST">
				{% csrf_token %}
				{{form.as_p}}
					
				<input type="submit" value="Enviar">
				</form>
					
				
			</div>


		</section>
<!--
	<script type="text/javascript">

		$('#add').click( function(){
		$('#menuAdd').fadeToggle(600);
		$('#menuAdd').css("display", "block");



	});


	</script>
-->
</body>
</html>